<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Convert My Money</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>
            <a href="/">
                <img class="logo-convert-my-money" src="/logo.png" alt="Convert My Money">
            </a>
        </h1>